/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.frame{
  padding: 50px;
  background-color: gray;
}

.circle {
    content: "A";
}

/* rectangles */
.enemy {
  -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   fill:blue;

}


.enemy {
  /* Safari */


   -webkit-animation-name: rotation;
   -webkit-animation-duration: 6s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-delay: 1s;
   -webkit-animation-iteration-count: infinite;

   /* Chrome, IE, FireFox */
   animation-name: rotation;
   animation-duration: 6s;
   animation-timing-function: linear;
   animation-delay: 1s;
   animation-iteration-count: infinite;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


